body{
  background: url(https://cdn.hipwallpaper.com/i/64/30/jIciQu.gif) no-repeat center fixed;
  
}

h3{
  color: greenyellow;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

td{
  color: blanchedalmond;
  font-family: 'Architects Daughter', cursive;
}
.thead-light{
  background: red;
  font-family: 'Architects Daughter', cursive;
}

label{
  font-family: 'Architects Daughter', cursive;
  color: blanchedalmond;
}
.navbar-brand{
  color: blanchedalmond;
  font-family: 'Architects Daughter', cursive;
}
.navbar-item{
  font-family: 'Architects Daughter', cursive;
  
}
.nav-link{
  color: blanchedalmond !important;
}

.btn1{
  font-family: 'Architects Daughter', cursive;
  border-radius: 10px;
  background-color: tan;
  margin-top: 15px;
}

tbody{
  border-radius:50% 20% / 10% 40%;
  border: tan;
}